.button{
    padding: 4px 1em;
    box-sizing: border-box;
    height: 32px;
    background: #884FF3;
    border: 1px solid rgba(153, 153, 153,1);
    border-radius: 4px;
    margin: 10px;
    font-weight: bold;
    overflow: hidden;
    position: relative;
   
}
.button .circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #a47ef3;
    display: inline-block;
    animation: trans 0.3s alternate;
    position: absolute;
    z-index: 0;
}
.button .wrapper{
    position: relative;
    z-index: 1;
}

@keyframes trans{
    from{
        transform: scale(0.1);
    }
    to{
        transform: scale(10);
    }
}


